*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}

/* All CSS Start Here */

/* Header CSS Start Here */
.nav-fixed{
    transition: 1s;
}
.nav-active {
    background-color: #fff;
    box-shadow: rgba(0, 74, 74, 0.166) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px
}
.nav-active .nav-menu .logo{
    width: 150px;
}
.nav-active .right-nav .whats-app a{
    color: #352a2d;
}
.nav-active .nav-menu .menu-item ul li a, .nav-active .nav-menu .right-nav .arabic{
    color: #352a2d;
}
.nav-active .nav-menu .menu-item ul li a:hover, .nav-active .nav-menu .right-nav .arabic:hover{
    color: #FF0000;
}
/* Header CSS End Here */

.banner-section {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url(../images/banner-img.png);
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(12, 11, 36, 0.60);
}

.offer-section .offer-content .offer-text h3{
    font-family: 'Open Sans', sans-serif;
}

.tier-section .tier-content .tier-img .single-img1{
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.4), rgba(12, 0, 0, 0.3)), url(../images/tire-fitting.jpg);
    background-size: cover;
}
.tier-section .tier-content .tier-img .single-img2{
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.4), rgba(12, 0, 0, 0.3)), url(../images/tire-balancing.jpg);
    background-size: cover;
}
.tier-section .tier-content .tier-img .single-img3{
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.4), rgba(12, 0, 0, 0.3)), url(../images/wheel-alignment.jpg);
    background-size: cover;
}
.tier-section .tier-content .tier-img .single-img4{
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.4), rgba(12, 0, 0, 0.3)), url(../images/tire-4.jpg);
    background-size: cover;
}

.tc-section ul li a{
    font-family: 'Open Sans', sans-serif;
}


.cta-section {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/banner-img.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(12, 11, 36, 0.60);
}

.contact-section .single-contact .contact-icon .call-icon{
    transform: rotate(270deg);
}

/* All CSS End Here */


/**=== Responsive CSS Start Here ===**/
@media (min-width: 0px) and (max-width: 768px) {

    .nav-active .nav-menu .menu-item ul li a,
        .nav-active .nav-menu .right-nav .arabic {
            color: #352a2d;
        }
    

}
/**=== Responsive CSS End Here ===**/